/* CSS Document */

body {
    font-family: 'Merriweather', 'Times', serif;
    background-color: seashell;
}

h1 {
    font-size: 69px;
}

h5 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

p {
    margin: auto 50px 15px 50px;
}

blockquote {
    margin: auto 100px 15px 100px;
    font-style: italic;
}

.trbute-div {
    position: static;
    width: auto;
    align-content: center;
    text-align: center;
}

.tribute-img {
    position: relative;
    align-content: center;
    margin-bottom: 15px;
}

#title {
    position: relative;
    text-align: center;
}

#image {
    width: 100%;
    height: auto;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#tribute-img {
    position: relative;
    height: 460px;
    width: 700px;
    margin: 0px auto 15px auto;
}

#tribute-img img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes tribute-imgFadeInOut {
    0% {
    opacity:1;
    }
    25% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
}

#tribute-img img.top {
    animation-name: tribute-imgFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}            

#img-caption {
    text-align: center;
    margin: 0px auto 15px auto;
}